<% layout('/layouts/boilerplate') %>

<div class="container mt-3">
  <div class="row">
    <!-- Alert with responsive sizing -->
    <div class="col-12 col-md-8 col-lg-6 mx-auto">
      <div class="alert alert-danger" role="alert">
        <p><%= message %></p>
      </div>
    </div>
  </div>
</div>